<!-- There will show all countries in a list -->
<ul style="list-style-type: none;">
    <li><a href="{% url 'co2:homepage' %}">Go back to Homepage</a></li>
    <li><a href="{% url 'co2:map' %}">World Map</a></li>
    <li><a href="{% url 'co2:feedback' %}">Contact Us</a></li>
</ul>

<h3>Country List</h3>
<ul>
    {% for country in countries %}
        <li class="list_item">
            <a href="{% url 'co2:country_detail' country.id %}">
                {{ country.country_name }} [{{country.country_code}}]
            </a>
        </li>
    {% endfor %}
</ul>
<h3>Area & Group List</h3>
<ul>
    {% for group in groups %}
        <li class="list_item">
            <a href="{% url 'co2:group_detail' group.id %}">
                {{ group.country_name }} [{{group.country_code}}]
            </a>
        </li>
    {% endfor %}
</ul>